
:root {
  --bg-color--dark: #0b192f;
  --bg-color--medium: #162b4d;
  --text--color: #484848;
  --link: #fff;
  --link--hover: #b8b8b8;
}

body {
    font-family: roboto, serif;
}

.post-1 {
	background: #F3D250;
}
.post-2 {
	background: #8D8741;
}
.post-3 {
	background: #659DBD;
}
.post-4 {
	background: #DAAD86;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 200;
}

html,
body {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 200;
    background-color: var(--bg-color--dark);
    color: var(--text--color);
}

.container {
    margin: 0 auto;
    max-width: 1500px;
}

.header {
    color: white;
}

.header-inner,
.footer-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: var(--bg-color--medium);
    padding: 0 30px;
}

.header-brand {
    font-size: 2.5em;
    margin: 0;
    line-height: 2.2em;
    font-weight: 200;
}

.header-brand > span {
    color: #901e66;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    font-size: 1.5em;
    color: var(--link);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 25px;
}

.nav-link:hover {
    background-color: rgb(68, 85, 112);
    transition: background 0.5s ease;
    color: var(--link--hover);
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px auto;
}

.posts {
    width: 80%;
}

.news {
    width: 20%;
    margin-left: 20px;
}

.post-preview {
    display: flex;
    justify-content: space-between;
}

.post-preview:nth-child(even) {
    flex-direction: row-reverse;
}

.post-banner {
    position: relative;
    width: 50%;
}

.post-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-banner::after,
.post-info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: background 0.5s ease;
    background-color: rgba(243, 210, 80, 0.45);
    cursor: pointer;
}


.post-banner:hover::after,
.post-info:hover::after {
    opacity: 1;
}

.post-info {
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.post-preview:nth-child(even) .post-info {
    flex-direction: row-reverse;
}

.post-preview:nth-child(even) .post-header {
    text-align: right;
    margin-right: 0;
}

.post-header {
    padding: 30px;
    margin-right: 25px;
}

.post-title {
    font-size: 2.75em;
    line-height: 1.25em;
}

.post-teaser {
    line-height: 2em;
    word-spacing: .075em;
    font-size: 1.125em;
}

.post-date {
    font-size: 4em;
    text-align: center;
    padding: 25px 20px;
    line-height: .75em;
}

.post-date span {
    display: block;
    font-size: 2rem;
}

.full-post {
    background: url("../img/post5.jpg"), no-repeat center center;
    background-size: cover;
    height: 450px;
    color: white;
}

.full-post-wrapper {
    top: 45%;
    position: relative;
    padding: 25px;
}

.news article {
    margin-bottom: 25px;
    background-color: white;
}

.news-banner img {
    width: 100%;
}

.news-info {
    padding: 25px;
}

.news-title {
    font-size: 2em;
}

.news-teaser {
    line-height: 1.75em;
    margin-bottom: 2em;
}

.news-open-link {
    border: 2px solid var(--text--color);
    color: var(--text--color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 6px 14px;
}

.news-open-link:hover {
    border-top: 2px solid transparent;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
}

.footer-wrap {
    padding: 20px;
}

.footer p {
    color: #a8aab8;
    line-height: 1.75em;
    margin-bottom: 0;
    font-weight: 300;
}


@media screen and (max-width: 1400px) {
    /* Selectors and styles affecting screens UP TO 1400px (Desktop) */
    body {
        background-color: #1f7e9a;
    }
}

@media screen and (max-width: 768px) {
    /* Selectors and styles affecting screens UP TO 768px (Tablet) */
    body {
        background-color: #9a2730;
    }
}

@media screen and (max-width: 480px) {
    /* Selectors and styles affecting screens UP TO 480px (Phone) */

    body {
        background-color: #2e9a30;
    }
}