// Write your styles here
$font-source: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;

$block-secondary-color: #c0c3ce;
$block-side-padding: 230px;
$block-border-radius: 9px;

@mixin lead-btn() {
  padding: 18px 46px;
  background-color: map-get($page-colors, "lead-btn");
  border-radius: 0;
  border: 0;
  outline: 0;
  color: white;
  font-weight: 600;
  font-size: 1.25em;

  &:hover {
    background-color: lighten(map-get($page-colors, "lead-btn"), 3%);
    cursor: pointer;
  }
}

@mixin page-link($color: white) {
  font-size: 1.5rem;
  color: $color;

  &:hover {
    text-decoration: none;
  }
}

@mixin highlight-word($width: 50%, $height: 50%) {
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    width: $width;
    height: $height;
    position: absolute;
    display: block;
    background-color: map-get($page-colors, "highlight-word");
    z-index: -1;
  }
}

html, body {
  margin: 0;
  font-size: 14px;
  font-family: $font-source;
  color: map-get($page-colors, "main-font");
  background-color: map-get($page-colors, "body-bg");
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

.landing-logo {

  img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
    vertical-align: middle
  }

  p {
    vertical-align: middle;
    font-size: 2.25em;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.1em;

    span {
      display: block;
      font-size: 1.25rem;
      font-weight: normal;
      text-align: center;
      letter-spacing: initial;
    }
  }

}

.header {
  background: url($jump-top-bg-pic) no-repeat center center;
  background-size: cover;
  height: 975px;
  border-bottom-right-radius: 40% 35%;

  &-wrap {
    padding: 15px $block-side-padding 0;
  }

  &_heading {
    margin: 160px 0 30px;
    font-size: 6rem;
    font-weight: bold;
    line-height: 1em;
    max-width: 50%;
    letter-spacing: .025em;
    display: inline-block;

    @include highlight-word(370px, 60px);

    &::before {
      bottom: 0;
    }
  }

  &_text {
    white-space: pre-line;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: .04em;
    word-spacing: .1em;
    margin-bottom: 70px;
  }

  &_button {


    @include lead-btn;
  }

  .login {
    margin-left: 200px;
    @include page-link();
  }

}

.section {
  text-align: center;

  &_text {

    margin: 25px 0;
    font-size: 3.5rem;
    font-weight: 600;
    display: inline-block;

    @include highlight-word(216px, 55px);

    &::before {
      bottom: 5px;
      right: 16px;
    }
  }
}

.section_card_wrap {

  .section_card {
    width: 60%;
    margin: 30px auto 0;
    background-color: map-get($page-colors, "block-bg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: $block-border-radius;

    img {
      height: 300px;
      border-radius: $block-border-radius;
    }

    &_right_container {
      padding: 0 80px;
      width: 60%;
      margin: 0 auto;
    }

    &_heading {
      color: white;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    &_text {
      @extend .section_banner_text;
      line-height: 2.25rem;
      text-align: left;
      margin-bottom: 15px;
    }
  }

  .section_link {
    @include page-link($block-secondary-color);
  }
}

.section_banner {
  width: 66%;
  margin: 0 auto;
  background: linear-gradient(90deg, map-get($page-colors, "section-gradient-start"), map-get($page-colors, "section-gradient-end"));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 180px;
  border-radius: $block-border-radius;
  padding: 25px 100px;
  box-sizing: border-box;
  transform: translate(0, 140px);
  text-align: left;

  &_heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @include highlight-word(86px, 60px);

    &::before {
      left: 165px;
      top: -10px
    }
  }

  &_text {
    color: $block-secondary-color;
    font-size: 1.5rem;
  }

  &_button{
    align-self: center;
    @include lead-btn;
  }
}

.footer {
  margin-top: 50px;
  background-color: map-get($page-colors, "block-bg");
  padding: 170px $block-side-padding 70px;

  &-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $block-secondary-color;
  }

  &_text {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 25%;
  }

  &-cr {
    font-size: 1.5rem;
  }
}